page-membership {
    .page-header {
        z-index:10;
        height: 110px;
        background-color: gainsboro;
        position: fixed;
        left: 0px;
        top: 55px;
        right: 0px;
        z-index: 2;
    }
    
}
