page-membership {
    .page-header {
        z-index:10;
        height: 100px;
        background-color: lightcoral;
        position: fixed;
        left: 0px;
        top: 60px;
        right: 0px;
    }
    
}
