page-membership {
    .page-header {
        z-index:10;
        height: 150px;
        position: fixed;
        left: 0px;
        top: 44px;
        right: 0px;
    }
    .btn{

    }
    // .color-btn:hover{
    //     background-color:#FF9900;
    //     color:black;
    //     font-weight: bold;
    // }

}
