<ion-header>

  <ion-toolbar color="mana">
    <button ion-button clear small (click)="backpage()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title center text-center>Collection</ion-title>
    <ion-buttons right>
      <button ion-button (click)="Membership()">
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row center text-center>
      <ion-col col-6>
        <button ion-button block margin-bottom color="hotpink" (click)="mycollection()">My Collection</button>
      </ion-col>

      <ion-col col-6>
        <button ion-button block margin-bottom color="secondary" (click)="Marketplace()">Marketplace</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h5 center text-center>Collection Rewards</h5>
  <ion-card *ngFor="let col of user.collections;let j = index" (click)="DetailCollectionA(j)" style="background-color: lightgray">
    <ion-card-header>
      <b>Collection {{col.title}}</b>
      <br>{{col.prize}} ETH
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let colReq of col.collection; let i = index">
        <img src="{{user.collection[colReq.game].collection[colReq.col].src}}" style="float:left; margin-right: 5px; height: 30px; width: 30px;" [ngClass]="{alpha:user.collection[colReq.game].collection[colReq.col].amount==0}">
      </div>
      <br>

      <div text-right>
        <b>Detail ></b>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>