<ion-header>

  <ion-toolbar color="pink">
    <button ion-button clear small (click)="backpage()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title center text-center>My Collect</ion-title>
    <ion-buttons right>
      <button ion-button (click)="Membership()">
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding text-center>
  <button ion-button style="margin-top: 20px;margin-bottom: 20px;" align='center' (click)="his()" color="pink">Trade History</button>
  
  <ion-grid text-center>
    <ion-row *ngFor="let game of user.collection; let i=index ">
        <ion-grid text-center>
      <ion-row no-padding>
      <ion-col>
          <ion-title>{{game.gameName}}</ion-title>
      </ion-col>
    </ion-row>
    </ion-grid>
      <ion-col *ngFor="let collection of game.collection; let j=index "col-3  class="b" (click)="detail(i,j)">
        <img src="{{collection.src}}" style="height: 40px; width: 40px;" [ngClass]="{alpha:collection.amount==0}" />
        <div text-right>
          x{{collection.amount}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

 
</ion-content>