<ion-header>

  <ion-toolbar color="mana">
    <button ion-button clear small (click)="backpage()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title center text-center>Collection {{user.collections[index].title}}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="Membership()">
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content no-padding>

  <ion-grid style="background-color: lightgray">
    <ion-row>

      <ion-col style="background-color: lightgray">
        <h5>Collection {{user.collections[index].title}}</h5>
        <b>{{user.collections[index].prize}} ETH</b>
        <div class="col">
          <div *ngFor="let colReq of user.collections[index].collection;let i = index">
            <img src="{{user.collection[colReq.game].collection[colReq.col].src}}" style="float:left; margin-right: 5px; height: 30px; width: 30px;" [ngClass]="{alpha:user.collection[colReq.game].collection[colReq.col].amount==0}" >
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-buttons right>
      <button  color="primary" default ion-button (click)="goExChange()" [disabled]="!user.collections[index].canTrade">{{user.collections[index].prize}} ETH</button>
    </ion-buttons>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>Collection {{user.collections[index].title}}</h4>
        <h5>Description</h5>
        <p>{{user.collections[index].description}}</p>

      </ion-col>
    </ion-row>

    <ion-list *ngFor="let colReq of user.collections[index].collection;let i = index">
      <ion-item style="background-color: lightgrey">
          <div>
              <img src="{{user.collection[colReq.game].collection[colReq.col].src}}" style="float:left; margin-right: 5px; height: 30px; width: 30px;" [ngClass]="{alpha:user.collection[colReq.game].collection[colReq.col].amount==0}"  >
            </div>
            {{user.collection[colReq.game].collection[colReq.col].name}} x{{user.collection[colReq.game].collection[colReq.col].amount}}
        <button  color="pink" ion-button default item-end (click)="goToCollectionTrade(colReq.game,colReq.col)">Trade</button>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>