page-slotgame {
    .page-footer {
        height: 50px;
        background-color: lightcoral;
        position: fixed;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }
    .b {
        border: 1px solid black;
        margin: 5px;
        font-size: 10px;
        font: bold;
        background-color: black;

    }
    .zzz{
        position:absolute;
        z-index:-2;
        width: 100px;
        height: 100px;
    }
    // img{
    //     width:100%;
    //     height:100%;
    //   }
      
      .myCard{
        position:relative;
      
      }
      
      .myOverlay{
          width: 100%;
          height: 60px;
          position: absolute;
          z-index: 99;
          bottom: 0px;
          opacity: 0.5;
          background: #000;
          color: #fff;
      
      }
}
