page-gameresult {
    #site-footer {
        height: 50px;
        background: #FDD5D7;
    }
    
    .page-footer {
        height: 50px;
        background-color: lightcoral;
        position: fixed;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }
    .b {
        margin: 5px;
        font-size: 10px;
        font: bold;

    }    
}
