page-trade {
    .page-header {
        position: fixed;
        left: 0px;
        top: 60px;
        right: 0px;
    }
    
    .page-footer {
        height: 50px;
        background-color: lightcoral;
        position: fixed;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }
}
