page-trade {
    .page-header {
        position: fixed;
        left: 0px;
        top: 56px;
        right: 0px;
        z-index:10;
    }
    .page-footer {
      //  height: 50px;
        background-color:#A81C07;
   
    }
    .page-button{
        background-color: #990000;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}
