<ion-header>
  <ion-toolbar color="pink">
    <button ion-button clear small (click)="backpage()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>Trade</ion-title>
    <ion-buttons right>
      <button ion-button (click)="Membership()">
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-segment [(ngModel)]="Trade">
      <ion-segment-button value="buy">
        Buy
      </ion-segment-button>
      <ion-segment-button value="sell">
        Sell
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="Trade">
      <ion-list *ngSwitchCase="'buy'" ngSelected="selected">
        <ion-grid>
          <ion-row style="padding-top: 10px"></ion-row>
          <ion-row padding style="background-color: lightgrey;height: 120px">
            <ion-col col-12>
              Buy amount
            </ion-col>
            <ion-col col-10>
              <ion-list>
                <ion-item>
                  <ion-input type="number" [(ngModel)]="num"></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col col-2 style="padding-top: 30px">
              Coin
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid padding>
          <ion-row>
            <ion-col col-12 style="text-align: center">
              <h4>History (buy)</h4>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="user.buyHistory.length==0">
            <ion-col col-12 style="text-align: center">
              <h5>No Data</h5>
            </ion-col>
          </ion-row>


          <ion-list>
            <ion-item *ngFor="let buy of user.buyHistory" no-padding>
              <ion-row style="font-size: 10px">
                <ion-col col-12>
                  {{buy.date}}
                </ion-col>
                <ion-col col-4>
                  Amount
                </ion-col>
                <ion-col col-4>
                  Prize/Unit
                </ion-col>
                <ion-col col-4>
                  Total prize
                </ion-col>
                <ion-col col-4 style="font-size: 14px">
                  <b>{{buy.num}} coin</b>
                </ion-col>
                <ion-col col-4 style="font-size: 14px">
                  <b>{{buy.unit}}</b>
                </ion-col>
                <ion-col col-4 style="font-size: 14px">
                  <b>{{buy.total}} </b>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-grid>

        <ion-grid class="page-footer" no-padding>
          <ion-row>
            <ion-col col-12 style="text-align: center;font-size: 16px" (click)="showConfirm()">
              <button ion-button clear block style="color : white">
                <b>Confirm</b>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-list>


      <ion-list *ngSwitchCase="'sell'">
        <ion-grid>
          <ion-row style="padding-top: 10px"></ion-row>
          <ion-row style="background-color: lightgrey;height: 90px">
            <ion-col col-12>
              Sell amount
            </ion-col>
            <ion-col col-10>
              <ion-list>
                <ion-item>
                  <ion-input type="number" [(ngModel)]="sellAmount"></ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col col-2 style="padding-top: 30px">
              Coin
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row style="padding-top: 0px"></ion-row>
          <ion-row style="background-color: lightgrey;height: 90px">
            <ion-col col-12>
              Price / Unit
            </ion-col>
            <ion-col col-10>
              <ion-list>
                <ion-item>
                  <ion-input type="number" [(ngModel)]="sellPrice"></ion-input>
                  <ion-select [(ngModel)]="gender">
                    <ion-option value="THB">THB</ion-option>
                    <ion-option value="USD">USD</ion-option>
                    <ion-option value="ETH">ETH</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-col col-2 style="padding-top: 30px">
              
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid padding>
          <ion-row>
            <ion-col col-12 style="text-align: center">
              <h4>List (Sell)</h4>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="user.sellHistory.length==0">
            <ion-col col-12 style="text-align: center">
              <h5>No Data</h5>
            </ion-col>
          </ion-row>

          <ion-list>
            <ion-item *ngFor="let sell of user.sellHistory" no-padding>
              <ion-row style="font-size: 10px">
                <ion-col col-12>
                  {{sell.date}}
                </ion-col>
                <ion-col col-4>
                  Amount
                </ion-col>
                <ion-col col-4>
                  Prize/Unit
                </ion-col>
                <ion-col col-4>
                  Total sell
                </ion-col>
                <ion-col col-4 style="font-size: 14px">
                  <b>{{sell.sellAmount}} coin</b>
                </ion-col>
                <ion-col col-4 style="font-size: 14px">
                  <b>{{sell.sellPrice}} </b>
                </ion-col>
                <ion-col col-4 style="font-size: 14px">
                  <b>{{sell.total}}</b>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-grid>

        <ion-grid class="page-footer" no-padding>
          <ion-row>
            <ion-col col-12 style="text-align: center;font-size: 16px" (click)="showConfirmSell()">
              <button ion-button color="dark" clear block style="color: white">
                <B>Confirm</B>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </div>
  </div>

</ion-content>
