page-pre-playgame {

    
    .played{
        border: 1px solid black;
        background-color:gainsboro; 
        margin-bottom:5px;
    }
    .neverPlayed{
        border: 1px solid black; 
        background-color: #FDD5D7; 
        margin-bottom:5px;

    }

}
