page-lottogame {
    .page-footer {
        height: 50px;
        background-color: lightcoral;
        position: fixed;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }
    .b {
        border: 1px solid black;
        margin: 5px;
        font-size: 10px;
        font: bold;
        background-color: black;

    }
    .zzz{
        position:absolute;
        z-index:-2;
        width: 100px;
        height: 100px;
    }
}
