<ion-header>
  <ion-toolbar color="mana">
    <button ion-button clear small (click)="backpage()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>Ticket Game</ion-title>
    <ion-buttons right>
      <button ion-button (click)="Membership()">
        <ion-icon ios="ios-home" md="md-home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid style="text-align:center">
    <ion-row>
      <ion-col col-3>
        <b>Play 5</b>
      </ion-col>
      <ion-col col-3>
        <b>Play 10</b>
      </ion-col>
      <ion-col col-3>
        <b>Play 20</b>
      </ion-col>
      <ion-col col-3>
        <b>Play All</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 offset-9>
        <i>{{user.slotGame.tickets}} Ticket</i>
      </ion-col>
    </ion-row>

    
      <ion-row *ngFor="let ticket of user.slotGame.ticket; let i = index"  (click)="goPlay(i)">
        <ion-grid *ngIf="ticket.status=='neverPlayed'" [ngClass]="{neverPlayed:ticket.status=='neverPlayed',played:ticket.status=='played'}">
          <ion-row>
            <ion-col col-12 class="ticket-title">
              Ticket {{ticket.no}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-9 class="game-title">
              Slot Game
            </ion-col>
            <ion-col col-3 class="play-title">
              Play >
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-row>
      <ion-row *ngFor="let ticket of user.slotGame.ticket; let i = index">
        <ion-grid *ngIf="ticket.status=='played'" [ngClass]="{neverPlayed:ticket.status=='neverPlayed',played:ticket.status=='played'}">
          <ion-row>
            <ion-col col-12 class="ticket-title">
              Ticket {{ticket.no}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-9 class="game-title">
              Slot Game
            </ion-col>
            <ion-col col-3 class="play-title">
              {{ticket.isWin ? "Win" : "Lose"}}
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-row>
    




    <ion-row>
      <ion-col col-4></ion-col>
      <ion-col col-4>
         
        <button ion-button (click)="howtoplay()">
          <ion-icon>How To Play</ion-icon>
        </button>
      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
<ion-footer>
    <ion-grid class="page-footer" no-padding>
        <ion-row>
          <ion-col col-12 style="text-align: center;font-size: 16px" (click)="buyTicket()">
            <button ion-button clear block style="color : white">
              <b>Buy Ticket</b>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-footer>